# Byte-compiled / optimized / DLL files
__pycache__/
api/process/.ipynb_checkpoints/

# Environments
entorno/

# Data
api/historical/*.csv
api/historical/rawdata/*.txt
api/historical/tabdata/*.parquet

# Auxiliar codes
api/process/aux_analytics.ipynb

# Security
api/configuration/keys.py